<div class="animated fadeIn wrapper">
    <div class="content">
        <div class="d-flex flex-column sidebar__view shadow-sms">
            <div class="position-relative scrollable-parent">
                <!-- <div class="sticky-top">
                    <app-logo></app-logo>
                </div> -->
                <div class="scrollable-child scrollbars">
                    <app-toolbox></app-toolbox>
                </div>
            </div>
        </div>
        <div class="content__view">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>