/* -------------------------------------------------------------------------- */

body {}


/* -------------------------------------------------------------------------- */

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}


/* -------------------------------------------------------------------------- */

// Scrollable component
.scrollable {
    &-parent {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-child {
        flex: 1 1 auto;
        overflow: auto;
    }
}


/* -------------------------------------------------------------------------- */

// Scrollbar
.scrollbar {
    // padding: 0 0.5rem;
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        // background: #f1f1f1;
        background: rgba(255, 255, 255, 0.08);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        // background: #ddd;
        background-color: rgba(0, 0, 0, 0.2);
        // border-radius: 0.2rem;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        // background: darken($color: #ddd, $amount: 10);
        background-color: rgba(0, 0, 0, 0.25);
    }
}


/* -------------------------------------------------------------------------- */

// Header
.header {
    padding: 0.25rem 0;
    h3 {
        margin-bottom: 0;
    }
}

.content__area {
    background: #fff;
    @include border-radius(0.2rem);
    @extend .border;
}


/* -------------------------------------------------------------------------- */

// Modal animation
.modal {
    &.show {
        animation: popup .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
}

// Popup animation
@keyframes popup {
    0% {
        opacity: 0;
        overflow: hidden;
        // transform: translateY(150px);
        transform: scale(0.9);
    }
    99% {
        overflow: hidden;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        // transform: translateY(0);
        overflow: auto;
    }
}